.navbar-brand {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Contoh font */
}

.nav-link {
  font-weight: 500;
}

.bi-sun-fill {
  color: #ffc107; /* Warna kuning untuk icon matahari, sesuaikan */
  cursor: pointer;
}

/* Sesuaikan ukuran icon matahari untuk tampilan mobile */
@media (max-width: 768px) {
  .bi-sun-fill {
    margin-top: 15px; /* Sedikit jarak */
    margin-bottom: 10px;
  }
}
